.port-modal{
    position: fixed;
    top:50%;
    left: 50%;
    right:auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: white;
    animation: modalFade 0.7s linear;
    border-radius: 10px;
}

@keyframes modalFade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.ReactModalPortal>div{
    z-index: 1 !important;
    background-color: rgb(117 117 117 / 75%) !important;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.modal-close{
    font-size: 20px;
    font-weight: bolder;
}
.modal-close:hover{
    cursor: pointer;
}
.modal-main{
    padding:20px 40px 40px 40px;
    display: flex;
    justify-content: space-between;
}
.modal-main-description{
    margin: 0 10px;
    margin-bottom: 10px;
    width: 40% ;
    display: inline-block;
}
.modal-main-images{
    width: 55%;
    display: inline-block;
}
.modal-image{
    width:100%;
    height: 350px;
}
.modal-title{
    font-size: 30px;
    font-weight: bolder;
    margin: 15px 50px;
    line-height: 2rem;
}
.modal-description{
    font-size: 16px;
    line-height: 1.5rem;
    padding-bottom:20px;
}
.modal-link-button{
    background-color: #00b37e;
    padding: 6px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.modal-skills{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.modal-skill-one{
    border:1px solid #00b37e;
    border-radius: 5px;
    padding:0px 10px;
    margin: 2px 5px;
    font-size: 14px;
}
@media (max-width: 768px) {
    .port-modal{
        width: 95%;
    }
    .modal-main{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .modal-title{
        font-size:23px;
        margin: 15px 10px;
    }
    .modal-main-description, .modal-main-images{
        width:100%;
    }
    .modal-main-description{
        margin-top: 20px;
    }
    .modal-image{
        height: 250px;
    }
}
  